html, body {
  padding: 0;
  margin: 0;
  background: #fff;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}

#root {
  background-color: #1e1e2e;
  height: 100vh;
  width: 100vw;
  display: flex;
}
